@model unipaulistana.model.SolicitacaoItem

@using unipaulistana.web.extensions

<br/>
<div>
    <a class="btn btn-primary" asp-action="Index">Voltar</a>
</div>
<br/>


@Html.Partial("_ErrorSummary")


<div class="content">
	<div class="module">
		<div class="module-head">
			<h3>Inserir nova atividade</h3>
		</div>
		<div class="module-body">
			<form asp-action="AdicionarItem" asp-controller="Solicitacao" class="form-horizontal row-fluid">
				
                <input type="hidden" asp-for="SolicitacaoID" />

				<div class="control-group">
					<a href="#" class="media-avatar medium pull-left">
										<img src="@Html.Raw(Url.Content("~/images/" + @User.GetPicture()))" class="media-avatar medium pull-left" />
									</a>
                  		<div class="controls">
                            <textarea asp-for="Descricao" type="text" id="basicinput" placeholder="descrição" class="span8" rows="8"></textarea>
                            <span asp-validation-for="Descricao" class="text-danger"></span>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<button type="submit" class="btn btn-primary">inserir</button>
						</div>
					</div>
			</form>
		</div>
	</div>				
</div><!--/.content-->
		

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}